{sys, [
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {rel, "omnibus", "1.0.0", [kernel, stdlib]},
       {boot_rel, "omnibus"},
       {profile, embedded},
       {app_file, strip},
       {debug_info, strip},
       {incl_cond, exclude},
       {app, stdlib, [{incl_cond, include}]},
       {app, kernel, [{incl_cond, include}]},
       {app, echoer, [{vsn, "1.0.0"}, {incl_cond, include}]},
       {app, cranky, [{vsn, "1.0.0"}, {incl_cond, include}]}
      ]}.
